body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.course_table {
	display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
	}
.course_header {
	color: black;
	padding: 10px 50px;
}
.course_data {
	padding: 10px 50px;
	border-bottom: 2px solid #D3D3D3;
}
.course_row:nth-child(even) {
	padding: 10px 50px;
	border-bottom: 2px solid #D3D3D3;
	background: #D3D3D3;
}
.project-button {
	font-size: 30px;
	background-color: white;
	border-color: red;
	color: red;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	padding: 15px;
}
.project-button:hover {
    background-color: red;
    color: white;
	border-color: white;
}
